.main{
    background-image: url("../../public/images/party-people-enjoy-concert-at-festival-summer-DHDMPWH@2x.jpg");
    background-size: cover;
    height:100vh;
    width: 100%;
   
}
.formContainer{
    width: 450px;
    
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 0;
    position: absolute;
    top: 25%;
    left: 65%; 
}
.heading{
    font-size: 25px;
    /* UI Properties */
    
    color: #1B2734;
    
}

.inputDiv{
    margin: 15px 0;
}
input{
    border-radius: none;
}

.BtnContainer{
    display: flex;
    justify-content: space-between;
}