*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.createPost-container{
    background-image: url('../../images/event.webp');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.form-main{
    position: absolute;    
    top: 18%;
    left: 24%;
    background-color: white;
    width: 50%;      
}
.post-Header{    
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #0000006b;
    background-color: white;   
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 20px;
    top: 22px;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
.heading {
    margin: 10px;
    padding: 10px;
    color: #2C3E50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
.centered{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    text-align: left;
}
.form-div1{
    margin-left: 50px;
    margin-top: 10px;    
}
input{
    width: 70%;
    margin: 5px 0px;
    padding: 5px 0px;  
}
select {
    margin: 5px 0px;
    padding: 5px 0px;  
    width: 70%;
}
textarea{
    width: 85%;
    margin: 5px 0px 0px 0px;
    padding: 5px 0px;  
}
.form-div2{
    margin-top: 10px;
}
.postbtn{
    background-color: rgb(38, 129, 165);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 22%;
    margin-left: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 2rem;
}
#galeria{
    display: flex;
    gap: 5px;
}
#galeria img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    opacity: 85%;
}
.image-div{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.image-div button{
    margin-right: 55px;
    margin-top: 3px;
    padding: 2px 9px;
    border: 2px solid rgb(71, 184, 232);
    background-color: #fff;
    color: rgb(71, 184, 232);
    border-radius: 5px;
}
.eve{
    width: 90%;
}